*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body{
    font-family: "Noto Sans", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:"wdth" 100;
}

img{
    max-height: 100%;
}

nav{
    background-color: red;
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    font-family: Noto+Sans;
    color: white;
}

nav a{
    color: white;
}

ul{
    height: 60%;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul div{
    height: 8vh;
}

.boton{
    padding: 10px 20px;
    border: solid white 1px;
}

#conoce{
    height: 100vh;
    background-image: url("./img/consola_mario.PNG");
    background-position: right top;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

h1{
    font-size: 5rem;
    font-weight: 800;
}

h2{
    font-size: 2.5rem;
    font-weight: 500;
}

#switch2{
    background-color: rgb(228, 246, 255);
    color: black;
}

#switch2>div{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: auto;
    padding: 5% 0;
}

#switch2 p{
    align-self: center;
    width: 55%;
}

#switch2 .boton{
    margin: 1% 0 0 0;
    color: black;
    display: inline-block;
    width: 10%;
    border: solid black 1px;
    align-self: center;
}

#joycon{
    background-color: red;
    display: flex;
    height: 67vh;
    width: 100%;
}

.texto{
    display: flex;
    justify-content: center;
    color: white;
}

.texto>div{
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.texto>div>*{
    padding: 0 0 1% 0;
}

.texto>div>div{
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mando{
    height: 100%;
}

.texto .boton{
    color: white;
    padding: 10px 20px;
}

#novedades{
    background-color: red;
    height: 50vh;
    width: 100%;
    padding: 3% 0 3% 0;
    color: white;
}

.contenedor{
    width: 90%;
    margin: auto;
}

.contenedor>div{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2% 0;
}

.contenedor>div>div{
    width: 25%;
}



footer{
    background-color: red;
    text-align: center;
    color: black;
    padding: 2% 0;
}

footer::before{
    content: '';
    background-color: white;
    height: 1px;
    width: 100%;
    position: relative;
    bottom: 30px;
    display: block;
}